<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yidun-alive-detect" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-yidun-alive-detect</name>
    <js-module name="cordova-plugin-yidun-alive-detect" src="www/cordova-plugin-yidun-alive-detect.js">
        <clobbers target="window.YidunAliveDetect" />
    </js-module>
    
    <platform name="android">
    <framework src="src/android/faceplatform-release.gradle" custom="true" type="gradleReference"/>
    <lib-file src="src/android/alive_detected_libary-release.aar" />
    <lib-file src="src/android/openCVLibrary343-release.aar" />
    
	  <source-file src="src/android/YdCameraPreview.java" target-dir="src/com/netease/alivedetector/cordovaplugin" />
	  <source-file src="src/android/preview_layout.xml"   target-dir="res/layout" />
    <source-file src="src/android/KeepAliveCallbackContext.java" target-dir="src/com/netease/alivedetector/cordovaplugin" />
  

    <framework src="androidx.exifinterface:exifinterface:1.2.0" />
	  <framework src="com.squareup.okhttp3:okhttp:3.3.1" />
	   <framework src="com.google.code.gson:gson:2.8.5" />
    

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="NTESLiveCameraImage">
          <param name="android-package" value="com.netease.alivedetector.cordovaplugin.YdCameraPreview" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-feature android:name="android.hardware.camera"/>
        <uses-feature android:name="android.hardware.camera.autofocus"/>
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_LOGS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>

    </platform>
    
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="NTESLiveCameraImage">
          <param name="ios-package" value="NTESLiveCameraImage" onload="true" />
        </feature>
      </config-file>

      <header-file src="src/ios/NTESLiveCameraImage.h" />
      <source-file src="src/ios/NTESLiveCameraImage.m" />
    <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
         </config>
         <pods use-frameworks="true">
           <pod name="NTESLiveDetect" />
         </pods>
       </podspec>
    </platform>
</plugin>
